* {
	margin: 0;
	padding: 0;
}

body {
	width: 80%;
	margin: auto;
	background-color: #bdf2d8;
}

h1 {
	font-size: 2.5em;
	padding-top: 3rem;
	text-align: center;
	letter-spacing: 1px;
	padding-bottom: 1rem;
	text-shadow: 2px 2px 0 #fff;
}

main {
	margin: 2rem;
}

.shoes-table {
	padding: 2.5rem;
	padding-top: 1rem;
}

.child-main .shoes-table {
	background-color: #fff;
}

.child-main .shoes-table img {
	width: 18vh;
	height: 18vh;
	margin-top: 2rem;
	margin-left: 3rem;
	margin-bottom: 5px;
	border-radius: 5px;
	border: 2px solid #39ff14;
	box-shadow: 5px 3px 3px 1px #ffc0cb;
	transition: transform .5s ease-in-out;
}

.shoes-table img:hover {
	transform: scale(1.1);
}

.shoes-table span ul li {
	padding: 6px;
	font-size: 1em;	
	margin-left: 3rem;
	list-style-type: none;
}
